<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbD3zFz2q5MX-rt2MkiYudiINw551MmUI</string>
	<key>GCM_SENDER_ID</key>
	<string>363456261395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>cancun-deadpool-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cancun-deadpool-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363456261395:ios:70e3808abc2716f5843ee6</string>
	<key>DATABASE_URL</key>
	<string>https://cancun-deadpool-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>